<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.learndemos">

  <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name="com.demo.learndemos.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.demo.learndemos.ui.act.NotificationTestActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.demo.learndemos.ui.act.RemoteViewActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.demo.learndemos.ui.act.DrawableCollectionActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.demo.learndemos.ui.act.ViewCollectionActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan"/>

    <activity
        android:name="com.demo.learndemos.ui.act.ShapeDrawableActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.demo.learndemos.ui.act.AnimationActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.demo.learndemos.ui.act.GestureViewActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name="com.demo.learndemos.ui.act.ShowShakeInfoActivity"
        android:screenOrientation="portrait"/>


    <service android:name="com.demo.learndemos.service.UpdateWidgetService"/>


    <receiver android:name="com.demo.learndemos.provider.MyWeightProvider">
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/layout_weight_info"/>
      <intent-filter>
        <action android:name="action_click"/>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
    </receiver>

    <receiver android:name="com.demo.learndemos.provider.ClockWidgetProvider">
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/clock_widget_info"/>
      <intent-filter>
        <action android:name="action_clock_click"/>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>